body {
	/*background-color: #85FFF1;*/
	background-image: url('../images/WaterSandBackground.jpg');
	background-size: cover;

}

#container{
	width:80%;
	margin: 0 auto;
}

header{
	text-align: center; 
	font-style: arial;
	color: #342A14;
	margin: 50px;
	font-size: 200%;
}

/********************************************/
/*  Styling for the text showing whose turn */
/*  it is                                   */
/********************************************/
#playerTurn{
	margin: 0 auto;
}
.currentTurn{
	font-weight: bold;
	color: green;
}
.notCurrentTurn{
	color: lightgray;
}
/********************************************/
/*  Styling for game board and individual   */
/*  squares                                 */
/********************************************/
#ticTacToeBoard{
	height: 350px;
	width: 350px;
	position:relative;
	margin: 0 auto;
}
#playerTurn{
	width: 350px;
	margin: 0 auto;
}
.square{
	height: 100px;
	width: 100px;
	
	float: left;
	margin: 5px;
	border-radius: 5%;
	border: 1px solid black;
}
/*Applied on mouseover*/
.pink{
	/*background-color: lightpink;*/
	background-image: url('../images/wood_grain3.jpg');
	background-size: contain;
}
/*Applied on mouseout*/
.blue{
	/*background-color: blue;*/
		background-image: url('../images/wood_grain3.jpg');
	background-size: contain;
	/*opacity: 0.5;*/
}
/********************************************/
/*Styling for margins of tic tac toe squares*/
/********************************************/
.left{
	margin-left:0px;
}
.right{
	margin-right:0px;
}
.top{
	margin-top: 0px;
}
.bottom{
	margin-bottom: 0px;
}

/********************************************/
/*Styling for x or o class. Class depends on*/
/*which player clicked the tic tac to square*/
/********************************************/

/*Delete later. Originally used when x's and o's were put in*/
.gameBoardSquare{
	width: 100%;
}

.x{
	/*color:red;
	font-size: 300%;
	text-align: center;*/
}

.o{
/*	color:blue;
	font-size: 300%;
	text-align: center;*/
}

/*Styling for when a board piece is taken*/
div.taken{
}

/*Styling for div that shows announcement of winnerj*/
#winnerIdentity{
	background-color: magenta;
	color: white;
	width: 320px;
	margin: 0 auto;
}

/*Styling for div that shows 'Play again button'*/
#playerTurn {
	margin: 0 auto;
}

#playAgain{
	margin: 0 auto;	/*display: block;*/
	display: none;
}